.tasklist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 5px;
    padding: 0;
}

.tasklist li {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 400px;
    overflow: scroll;
}

.tasklist li:hover {
    cursor: pointer;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.1rem;
}

.taskItem {
    flex: 1;
}

.taskItem.completed {
    text-decoration: line-through;
    color: gray;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.circle.completed {
    background-color: green;
}

.circle.completed::after {
    content: '✔';
    color: white;
    position: relative;
    left: 3px;
    bottom: 3px;
}